action-msgs==1.2.2
action-tutorials-interfaces==0.20.7
action-tutorials-py==0.20.7
actionlib-msgs==4.9.0
ament-cmake-test==1.3.12
ament-copyright==0.12.14
ament-cppcheck==0.12.14
ament-cpplint==0.12.14
ament-flake8==0.12.14
ament-index-python==1.4.0
ament-lint==0.12.14
ament-lint-cmake==0.12.14
ament-package==0.14.1
ament-pep257==0.12.14
ament-uncrustify==0.12.14
ament-xmllint==0.12.14
angles==1.15.0
argcomplete==3.6.2
asttokens==3.0.0
attrs==25.4.0
av==16.0.1
backcall==0.2.0
beautifulsoup4==4.14.3
bitarray==3.8.0
bleach==6.3.0
builtin-interfaces==1.2.2
catkin-pkg==1.0.0
certifi==2025.7.14
charset-normalizer==3.4.2
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.1.1
colcon-cmake==0.2.29
colcon-common-extensions==0.3.0
colcon-core==0.20.0
colcon-defaults==0.2.9
colcon-devtools==0.3.0
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.3.0
colcon-output==0.2.13
colcon-package-information==0.4.0
colcon-package-selection==0.2.10
colcon-parallel-executor==0.3.0
colcon-pkg-config==0.1.0
colcon-powershell==0.4.0
colcon-python-setup-py==0.2.9
colcon-recursive-crawl==0.2.3
colcon-ros==0.5.0
colcon-test-result==0.3.8
colcon-zsh==0.5.0
colorama==0.4.6
coloredlogs @ file:///croot/coloredlogs_1736873914788/work
composition-interfaces==1.2.2
contourpy==1.3.2
coverage==7.10.2
cv-bridge==3.2.1
cycler==0.12.1
decorator==5.2.1
defusedxml==0.7.1
demo-nodes-py==0.20.7
diagnostic-msgs==4.9.0
distlib==0.4.0
docopt==0.6.2
docutils==0.22
domain-coordinator==0.10.0
easydict==1.11
empy==3.3.4
example-interfaces==0.9.3
examples-rclpy-executors==0.15.5
examples-rclpy-minimal-action-client==0.15.5
examples-rclpy-minimal-action-server==0.15.5
examples-rclpy-minimal-client==0.15.5
examples-rclpy-minimal-publisher==0.15.5
examples-rclpy-minimal-service==0.15.5
examples-rclpy-minimal-subscriber==0.15.5
exceptiongroup==1.3.0
executing==2.2.1
fastdtw==0.3.4
fastjsonschema==2.21.2
filelock==3.13.1
flatbuffers @ file:///croot/python-flatbuffers_1722369094438/work
fonttools==4.59.0
fsspec==2024.6.1
geographic-msgs==1.0.6
geographiclib==2.1
geometry-msgs==4.9.0
geopy==2.4.1
gmpy2 @ file:///croot/gmpy2_1738085463648/work
humanfriendly @ file:///croot/humanfriendly_1736867665883/work
idna==3.10
image-geometry==3.2.1
importlib_metadata==8.7.0
imutils==0.5.4
iniconfig==2.1.0
interactive-markers==2.3.2
ipython==8.12.3
jedi==0.19.2
Jinja2==3.1.4
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyterlab_pygments==0.3.0
kiwisolver==1.4.8
lark-parser==0.11.3
laser-geometry==2.4.1
launch==1.0.13
launch-ros==0.19.13
launch-testing==1.0.13
launch-testing-ros==0.19.13
launch-xml==1.0.13
launch-yaml==1.0.13
lifecycle-msgs==1.2.2
logging-demo==0.20.7
loguru==0.7.3
map-msgs==2.1.0
MarkupSafe==2.1.5
matplotlib==3.10.5
matplotlib-inline==0.1.7
message-filters==4.3.11
mistune==3.2.0
mkl-service==2.5.2
mkl_fft @ file:///home/task_176159252575002/conda-bld/mkl_fft_1761592901585/work
mkl_random @ file:///home/task_176159293813909/conda-bld/mkl_random_1761592952512/work
ml_dtypes==0.5.4
motmetrics==1.4.0
mpmath @ file:///croot/mpmath_1690848262763/work
nav-msgs==4.9.0
nbclient==0.10.4
nbconvert==7.16.6
nbformat==5.10.4
networkx==3.3
notify2==0.3.1
numpy @ file:///croot/numpy_and_numpy_base_1755590845055/work/dist/numpy-1.26.4-cp310-cp310-linux_x86_64.whl#sha256=3882a2b59005d59b899f35d3c83d1ce9c845ed2d6f1febec940af2f9dab1134d
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.21.5
nvidia-nvtx-cu11==11.8.86
onnx==1.17.0
onnxruntime==1.23.2
onnxruntime-gpu @ file:///opt/conda/conda-bld/onnxruntime_1710871399881/work/build-ci/Release/dist/onnxruntime_gpu-1.17.1-cp310-cp310-linux_x86_64.whl#sha256=778961af8514fc312e68e06453769c009f1a401c21c5fa866dba156a1736729e
onnxslim==0.1.80
opencv-python==4.8.0.76
osrf-pycommon==2.1.6
packaging @ file:///home/task_176104877067765/conda-bld/packaging_1761049113113/work
pandas==1.3.5
pandocfilters==1.5.1
parso==0.8.5
pcl-msgs==1.0.0
pendulum-msgs==0.20.7
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.0.0
pipreqs==0.5.0
platformdirs==4.5.1
pluggy==1.6.0
prompt_toolkit==3.0.52
protobuf @ file:///croot/protobuf_1742419705443/work/bazel-bin/python/dist/protobuf-5.29.3-cp310-abi3-linux_x86_64.whl#sha256=e55acfd476c7a1d8544b98df45c7d8e9c425b9caf0abb1f7e7cfa87c2e017bd1
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyais==2.14.0
Pygments==2.19.2
pyparsing==3.2.3
pyproj==3.7.1
pyserial==3.5
pytest==8.4.1
pytest-cov==6.2.1
pytest-repeat==0.9.4
pytest-rerunfailures==15.1
python-dateutil==2.9.0.post0
python-qt-binding==1.1.3
pytz==2025.2
PyYAML==6.0.2
pyzmq==27.1.0
qt-dotgraph==2.2.4
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
quality-of-service-demo-py==0.20.7
rcl-interfaces==1.2.2
rclpy==3.3.19
rcutils==5.1.7
referencing==0.37.0
requests==2.32.4
resource-retriever==3.1.3
rmw-dds-common==1.6.0
ros2action==0.18.15
ros2bag==0.15.15
ros2cli==0.18.15
ros2component==0.18.15
ros2doctor==0.18.15
ros2interface==0.18.15
ros2launch==0.19.13
ros2lifecycle==0.18.15
ros2multicast==0.18.15
ros2node==0.18.15
ros2param==0.18.15
ros2pkg==0.18.15
ros2run==0.18.15
ros2service==0.18.15
ros2topic==0.18.15
rosbag2-interfaces==0.15.15
rosbag2-py==0.15.15
rosgraph-msgs==1.2.2
rosidl-adapter==3.1.7
rosidl-cli==3.1.7
rosidl-cmake==3.1.7
rosidl-generator-c==3.1.7
rosidl-generator-cpp==3.1.7
rosidl-generator-py==0.14.6
rosidl-parser==3.1.7
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.3
rosidl-typesupport-fastrtps-cpp==2.2.3
rosidl-typesupport-introspection-c==3.1.7
rosidl-typesupport-introspection-cpp==3.1.7
rpds-py==0.30.0
rpyutils==0.2.2
rqt-action==2.0.1
rqt-bag==1.1.5
rqt-bag-plugins==1.1.5
rqt-console==2.0.3
rqt-graph==1.3.1
rqt-gui==1.1.9
rqt-gui-py==1.1.9
rqt-msg==1.2.0
rqt-plot==1.1.5
rqt-publisher==1.5.0
rqt-py-common==1.1.9
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
scipy==1.15.3
semver @ file:///home/conda/feedstock_root/build_artifacts/semver_1737841553927/work
sensor-msgs==4.9.0
sensor-msgs-py==4.9.0
shape-msgs==4.9.0
six==1.17.0
soupsieve==2.8.1
sros2==0.10.7
stack-data==0.6.3
statistics-msgs==1.2.2
std-msgs==4.9.0
std-srvs==4.9.0
stereo-msgs==4.9.0
sympy==1.13.3
teleop-twist-keyboard==2.4.1
tf2-geometry-msgs==0.25.17
tf2-kdl==0.25.17
tf2-msgs==0.25.17
tf2-py==0.25.17
tf2-ros-py==0.25.17
tf2-sensor-msgs==0.25.17
tf2-tools==0.25.17
tinycss2==1.4.0
tomli==2.2.1
topic-monitor==0.20.7
torch==2.7.0+cu118
torchaudio==2.7.0+cu118
torchvision==0.22.0+cu118
tornado==6.5.4
tqdm==4.67.1
traitlets==5.14.3
trajectory-msgs==4.9.0
transforms3d==0.4.2
triton==3.3.0
turtlesim==1.4.3
typing_extensions==4.12.2
tzdata==2025.2
ultralytics==8.3.173
ultralytics-thop==2.0.14
unique-identifier-msgs==2.2.1
urllib3==2.5.0
visualization-msgs==4.9.0
wcwidth==0.2.13
webencodings==0.5.1
xmltodict==1.0.2
yarg==0.1.9
zipp==3.23.0
