# 船只轨迹跟踪的配置文件
# 配置说明：请根据实际设备参数修改以下配置

camera:
  camera_publish_fps: 25
  width_height: [1280, 720]  # 使用数组格式便于ROS2传递，這個尺寸要和當前的相機內參一致，否則AIS無法正常融合
  angle_between_cameras: 75 # 相机之间的角度差
  camera_parameters: # 相机配置列表（支持动态增减相机数量）
    - camera_name: "camera_0"           # 相机名称（用于映射）
      topic_name: "/rtsp_image_0"   # 相机0的话题名
      camera_index: 0    # 相机索引
      camera_matrix: # 不是数据集模式，而是实时模式，需要获取实际的相机内参
        fov_hor: 105.0
        fov_ver: 57.0
        fx: 826.7103994350479
        fy: 826.3601631131817
        u0: 662.713457455057
        v0: 368.4709861379807
      distortion_coefficients:
        k1: -0.08769532277781175
        k2: -0.11060163136644942
        k3: 0.1075732223095202
        k4: -0.05284128496107258

    - camera_name: "camera_1"           # 相机名称（用于映射）
      topic_name: "/rtsp_image_1"   # 相机1的话题名
      camera_index: 1                       # 相机索引
      camera_matrix:
        fov_hor: 105.0
        fov_ver: 57.0
        fx: 832.4189984146238
        fy: 828.1008814807332
        u0: 659.4425073628831
        v0: 373.7964432215087
      distortion_coefficients:
        k1: -0.14177762875407807
        k2: 0.061921577891883794
        k3: -0.18713561091941683
        k4: 0.1249690222637645

    - camera_name: "camera_2"           # 相机名称（用于映射）
      topic_name: "/rtsp_image_2"   # 相机2的话题名 camera_image_topic_2
      camera_index: 2                       # 相机索引
      camera_matrix:
        fov_hor: 105.0
        fov_ver: 57.0
        fx: 825.6267660329607
        fy: 830.4098462036575
        u0: 652.4296685969907
        v0: 362.0049691629362
      distortion_coefficients:
        k1: -0.11747772252134195
        k2: 0.042774717848008924
        k3: -0.15001201699048308
        k4: 0.08914543324936818
      
gnss:
  gnss_publish_rate: 5.0
  gnss_pub_topic: "/gnss_topic"
  gnss_yaw_bias: 90 # 单位度，表示GNSS的yaw角相对主相机朝向的偏差
  gnss_pitch_bias: 0 # 单位度，表示GNSS的pitch角相对于相机朝向的偏差
  gnss_roll_bias: 0 # 单位度，表示GNSS的roll角相对于相机朝向的偏差
  comm_type: "udp" # 串口通信: udp,tcp,serial
  udp_para:
    udp_ip: "0.0.0.0"
    udp_port: 8010
  serial_port_para:
    serial_port: "/dev/ttyS3"
    baud_rate: 115200
    character_size: 8
    parity: "N"
    stop_bits: 1
    flow_control: "NONE"
  tcp_para:
    tcp_ip: "127.0.0.1"
    tcp_port: 5000


ais:
  ais_batch_pub_topic: "/ais_batch_topic_realtime"
  comm_type: "serial"  # 串口通信: udp,tcp,serial
  udp_para:
    udp_ip: "0.0.0.0"
    udp_port: 1800
  serial_port_para:
    serial_port: "/dev/ttyS3"
    baud_rate: 38400
    character_size: 8
    parity: "N"
    stop_bits: 1
    flow_control: "NONE"
  tcp_para:
    tcp_ip: "127.0.0.1"
    tcp_port: 5000

    
DeepSORVF:
  fus_trajectory_topic: "/fus_trajectory_topic"
  get_camera_params_service: "/get_camera_params_service"
  input_fps: 20 # 融合跟踪节点进程刷新频率
  output_fps: 10 # 当前跟踪结果的显示频率
  anti: 1 # 是否进行抗遮挡处理
  anti_rate: 0 # 启用抗遮挡处理的阈值
  sync_queue_size: 10 # 同步队列大小
  sync_slop: 0.1 # 同步时间误差
  skip_interval: 1000 # 单位ms，表示在各个相机对应的跟踪进程中，每隔skip_interval ms处理一帧
  camera_type: "fisheye" # 选择相机类型: normal, fisheye, 
